<nav class="storm-navbar">
  <div class="logo-section">
    <img src="StormLogoFranchise.png" alt="logo-section">
    <span class="navbar-title">STORM WIKI</span>
  </div>

  <div class="links-section">
    <a routerLink="/home" routerLinkActive="active-link" class="nav-item">
      <span class="dot"></span> HOMEPAGE
    </a>
    <a routerLink="/games" routerLinkActive="active-link" class="nav-item">
      <span class="dot"></span> GAMES
    </a>
     <a routerLink="/games" routerLinkActive="active-link" class="nav-item">
      <span class="dot"></span> COMMUNITY
    </a>
     <a routerLink="/games" routerLinkActive="active-link" class="nav-item">
      <span class="dot"></span> RESOURCES
    </a>
     <a routerLink="/games" routerLinkActive="active-link" class="nav-item">
      <span class="dot"></span> FAQ
    </a>
     <a routerLink="/games" routerLinkActive="active-link" class="nav-item">
      <span class="dot"></span> ABOUT US
    </a>
  </div>
  <div class="action-section">
    <button class="storm-menu-btn" (click)="menu.toggle($event)">
      <i class="pi pi-bars"></i>
      <span class="btn-text">MENU</span>
    </button>
    <p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>
  </div>
</nav>