<!--
<h1 class="top-title">Ultimate Ninja Storm Wiki</h1>
-->
<div class="hero-banner">
  <img src="StormSeries.jpeg" alt="Naruto Storm Banner">
</div>

<div class="database-section">
  <h1 class="database-title">SHINOBI DATABASE</h1>
  <div class="button-group">
    <p-button label="Naruto" icon="pi pi-bolt" class="accent-naruto"></p-button>
    <p-button label="Sasuke" icon="pi pi-moon" class="accent-rasengan"></p-button>
    <p-button label="Impostazioni" [outlined]="true" styleClass="p-button-secondary"></p-button>
  </div>
</div>